.card {
  max-width: 170px;
  margin: 0 auto;
}

.card-link {
  text-decoration: none;
}

.card-cover {
  position: relative;
}

.card-cover img {
  border-radius: 5px;
}

.card-link:hover .card-cover img {
  filter: brightness(50%);
}

.card-btn-play {
  position: absolute;
  left: 48px;
  top: 63px;
  opacity: 0;
}

.card-link:hover .card-btn-play {
  opacity: 1;
  cursor: pointer;
}

.card-title {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-top: 1em;
}

.card-link:hover .card-title {
  color: #fff;
}

.card-artist {
  font-size: 14px;
  color: #8D91B4;
}

.card-link:hover .card-artist {
  color: #fff;
}
